// Place all the styles related to the GuestsPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guests_pages {
  .bg {
    min-height: 585px;
    .bg-color.home {
      padding-bottom: 12%;
    }
    .bg-color {
      overflow: visible;
      padding-top: 100px;
      padding-bottom: 100px;
      .container.content {
        margin: 0px auto;
        #right-block {
          h3 {
            margin: 3em;
          }
          .btn-sand.btn-blue {
            border-radius: 4px !important;
          }
        }
      }
    }
  }
  footer {
    padding: 50px 0;
    background-color: #1B1F22;
    background: linear-gradient(to bottom, white, 1px, #1B1F22);
    text-align: center;
    a {
      color: #ffffff;
      &:hover {
        color: #CEEDF0;
        text-decoration: underline;
      }
    }
  }
}